body{
    background-image: url("images/background.jpg");
    padding-left: 30px;

}
h1{
    text-align: center;
    color: lightskyblue;
    font: normal 50px "ChunkFiveRegular";
    color: lightblue;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
.box{
    display: inline-block;
    font-family: ‘Arial Black’, Gadget, sans-serif;
    width: 45%;
}
.box p{
    display: block;
}
p{
    font-family: 'Tangerine', serif;
    font-size: 20px;
}

