
fieldset,img { 
	border:0;
}
ol,ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

@font-face {
    font-family: bangers;
    src: url(../Fonts/Bangers/Bangers.ttf);
}
html, body {
	font-family: Bangers, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
body {
	text-align: center;
	overflow: auto;
    background: url(../images/Yellow5.png);
    background-size: cover;
}
.wrapper {
	width: 65%;
	margin: 0 auto;
	text-align: center;
    background-color: floralwhite;
    padding-bottom: 10%;
    padding-top: 5%;
}

h1 {
	font-size: 5em;
	height: 47px;
	line-height: 47px;
	text-transform: uppercase;
    color: deepskyblue;
    margin-bottom: 10%;
}
.navigationTabs {
	height: 23px;
	line-height: 23px;
    margin-bottom: 5%;
}
.navigationTabs li {
	float: left;
    display: block;
    font-size: 2em;
	height: 23px;
	line-height: 23px;
	padding-right: 3px;
}
.navigationTabs .selected-menu-item a {
    color: darkcyan;
}
.navigationTabs li a{
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	overflow: hidden;
	color: deepskyblue;
	position: relative;
	text-decoration: none;
}
.no-selected-item a:hover {
    opacity: 0.6;
}
.tabsContent {
    position: relative;
	overflow: hidden;
}
footer {
    position: fixed;
    display: block;
    height: 40px;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    bottom: 0;
    background: lightslategray;
    color: white;
    text-align: right;
    padding: 0 10px;
}
footer > span {
    display: inline-block;
    margin-right: 20px;
}
footer div {
    display: inline-block;
    background-size: cover;
    width: 108px;
    height: 22px;
    float: left;
    margin: 6px 2px;
}
.validator-html{
    background-image: url(../images/validator-html.png);
}
.validator-css{
    background-image: url(../images/validator-css.png);
}
@media screen and (max-width: 960px) {
    .wrapper {
        width: 100%;
    }
    footer {
        font-size: 15px;
    }
    footer > a, footer > div {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .navigationTabs li {
        display: block;
    }
    footer {
        height: 20px;
        line-height: 20px;
    }
    h1 {
        font-size: 3em;
    }
    footer {
        font-size: 10px;
    }
}
